# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

/app/generated/prisma

service-account.json



MODA
-Muzi 
kalhoty
tricka
mikiny

-Zeny
kalhoty
tricka
mikiny
sukne
tilka


BIZUTERIE
-Naramky
-Nahrdelniky
-Prstinky

DOPLNKY
-Klicenky
-samolepky


OBRAZY

OSTANI